article{
	background: #123;
	margin: 10px;
	width: 700px;
}

aside{
	background: rgba(11,11,111,0.5);
	float: right;
	margin: 10px;
	padding: 10px;
	height: 70%;
}
section{
	padding: 10px;
	margin: 50px;
}
.linea{
	display: inline-block;
}